:root {
    --primary: #FF5F7E;
    --secondary: #FFAB4C;
    --secondary-m: #FFDCB5;
    --primary-h: #f73455;
    --white: #FAFAFA;
    --blue-black: #142F43;
    --blue-black-h: #00182a;
    --gray: #656262;
    --gray-m: #F4F4F4;
    --font-primary: 'Roboto Slab', serif;
    --letter-spacing: 0.1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: var(--font-primary);
    letter-spacing: var(--letter-spacing);
}
footer {
    display: grid;
    align-items: center;
    height: 6rem;
    background-color: var(--blue-black);
}
footer p {
    font-size: 1.8rem;
    text-align: center;
    color: var(--gray-m);
}